@model EmployeePayroll.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
}
<style>
    .field-validation-error {
        color: red;
    }
</style>
<h2 class="mb-2">Log in</h2>

<div>
    @using (Html.BeginForm())
    {
        <div class="mb-2">
            @Html.LabelFor(model => model.Username)
            @Html.TextBoxFor(model => model.Username, htmlAttributes : new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Username)
        </div>
        <div class="mb-2">
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <button type="submit" class="btn-success btn">Log in</button>
    }

</div>


